aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.9.1
attrs==25.4.0
autobahn==25.12.2
Automat==25.4.16
billiard==4.2.2
cbor2==5.8.0
celery==5.4.0
certifi==2025.10.5
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
constantly==23.10.4
cron_descriptor==2.0.6
cryptography==46.0.4
daphne==4.2.1
Django==5.2.6
django-celery-beat==2.8.1
django-cors-headers==4.9.0
django-db-connection-pool==1.2.6
django-timezone-field==7.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
frozenlist==1.8.0
geographiclib==2.1
geopy==2.4.1
greenlet==3.3.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
kombu==5.5.4
msgpack==1.1.2
multidict==6.7.0
mysqlclient==2.2.7
num2words==0.5.14
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
prompt_toolkit==3.0.52
propcache==0.4.1
py-ubjson==0.16.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.10.1
PyMySQL==1.1.2
pyOpenSSL==25.3.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
redis==7.0.1
reportlab==4.4.6
requests==2.32.5
service-identity==24.2.0
six==1.17.0
SQLAlchemy==2.0.45
sqlparams==6.2.0
sqlparse==0.5.3
twilio==9.8.5
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
yarl==1.22.0
zope.interface==8.2

# Face attendance (optional): install dlib first, then:
#   pip install -r requirements-face-attendance.txt
# See docs/FACE_ATTENDANCE_INSTALL.md
